# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual environments
.env
.venv
env/
venv/
ENV/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
